<h1>New Workplace</h1>

<h3>
Can't find your workplace?  Create a new one.
</h3>

<div class="location">
    <p><button onclick="getLocation()">Get Location</button></p>
    <div id="location-notice">
    </div>
    <div id="mapholder">
    </div>
</div>
<%= render 'form' %>

