<h1>New jobsite</h1>

<script>
var x = document.getElementById("Location");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude; 
}
</script>

<div class="location">
<p><button onclick="getLocation()">Get Location</button></p>
<div id="Location">
</div>

</div>
<%= render 'form' %>

<%= link_to 'Back', jobsites_path %>
