<h1>WHelp</h1>
<h2>
#DTools4Workers
</h2>

<div class="description">
<ul>
  <li>
    Find out how much other people at your job are getting paid.
  </li>
  <li>
    Tell others how much you get paid so they can get a fair deal.
  </li>
  <li>
    Share your experiences with your management -- let everybody know
    if this is a good place to work or bad.
  </li>
</div>

To start, find a workplace.

<%= link_to "List all workplaces", controller: "jobsites" %>
or
<div class="location">
<script>
function enable_search() {
    $("#searchlink").css("display","block");
}
</script>
    <p><button onclick="getLocation(enable_search)">Get Location</button></p>
    <div id="location-notice">
    </div>
    <div id="mapholder">
    </div>
    <div id="searchlink" style="display:none">
        <input type="hidden" id="jobsite_lat">
        <input type="hidden" id="jobsite_long">
        <%= link_to "Find a nearby workplace", controller: "jobsites", action: "search" %>
    </div>
</div>

