<h1>RAZE</h1>
<h2>
#DTools4Workers
</h2>

<div class="description">
<ul>
  <li>
    Find out how much other people at your job are getting paid.
  </li>
  <li>
    Tell others how much you get paid so they can get a fair deal.
  </li>
  <li>
    Share your experiences with your management -- let everybody know
    if this is a good place to work or bad.
  </li>
</div>

To start, find a workplace.

<%= link_to "List all workplaces", controller: "jobsites" %>
or
<div class="location">
<script>
function enable_search() {
    $("#getlocation").css("display","none");
    $("#searchlink").css("display","block");
}
</script>
    <p><button id="getlocation" onclick="getLocation(enable_search)">Find nearby workplaces</button></p>
    <div id="location-notice">
    </div>
    <div id="mapholder">
    </div>
    <form action="<%= search_jobsites_path %>" method="get" id="searchlink" style="display:none">
        <input type="hidden" name="lat" id="jobsite_lat">
        <input type="hidden" name="long" id="jobsite_long">
        <input type="submit" value="Find a nearby workplace">
    </form>
</div>

